<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add A Bill</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Add Your New Bill Here:</h1>
<form action="#" th:action="@{/addbill}" th:object="${bill}" method="post">
<p>Company Name: <input type="text" name="creditorName"></p>
<p>Amount: $ <input type="number" name="billAmount"></p>
<p>Due Date: <input type="date" name="billDueDate" th:placeholder="*{billDueDate}" th:value="*{billDueDate}" th:field="*{billDueDate}"></p>
<p>Company Phone Number: <input type="text" name="creditorPhoneNumber"/></p>
<p>Billing Cycle Start Date: <input type="date" name="billingCycleStartDate"  th:placeholder="*{billingCycleStartDate}" th:value="*{billingCycleStartDate}" th:field="*{billingCycleStartDate}"></p>
<p>Billing Cycle End Date: <input type="date" name="billingCycleEndDate" th:placeholder="*{billingCycleEndDate}" th:value="*{billingCycleEndDate}" th:field="*{billingCycleEndDate}"  ></p>

<p><input type="submit" value="Submit"/> <input type="reset" value="Reset"></p>
</form>
</body>
</html>
