<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<html>
<head>
<link rel="stylesheet" href="./styles.css" th:href= "@{css/styles.css}">
    <title>BillAppHomePage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div class="container">
  <h2>Hi <span th:utext="${userName}"></span>, welcome to BillApp.
  <a th:href="@{/logout}">Sign out</a>
 </div>

<body>
  <ul>
    <li><a href="/" >Home</a></li>
    <li><a href="/addbill">Add Bill</a></li>
    <li><a href="/listofbills">My Bills</a></li>
  </ul>


    <img class="logo" src="/images/logo_transparent.png">




</body>
<footer class="footer">
Updated:2019

</footer>
</html>
