<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="./styles.css" th:href= "@{css/styles.css}">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${bills}" class="container my-5">
                  <ul>
                    <li><a href="/" >Home</a></li>
                    <li><a href="/addbill">Add Bill</a></li>
                    <li><a href="/listofbills">My Bills</a></li>
                  </ul>

              <img class="logo2" src="/images/logo_transparent.png">

                    <p class="my-5">

                      <p><a href='http://localhost:8080/addbill'><button class="button3">Add A Bill</button></a></p>

                    </p>


                    <div class="col-md-10">
                        <h2 th:case="null">No Bills added!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Creditor Name</th>
                                        <th>Phone Number</th>
                                        <th></th>
                                        <th>Amount</th>
                                        <th>Due Date</th>
                                        <th>Billing Cycle Start</th>
                                        <th>Billing Cycle End</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="bill : ${bills}">
                                        <td th:text="${bill.creditorName}"></td>
                                        <td th:text="${bill.creditorPhoneNumber}"></td>
                                        <td>$</td>
                                        <td th:text="${bill.billAmount}"$></td>
                                        <td th:text="${bill.billDueDate}"></td>
                                        <td th:text="${bill.billingCycleStartDate}"></td>
                                        <td th:text="${bill.billingCycleEndDate}"></td>
                                        <td><a th:href="@{/edit/{id}(id=${bill.id})}" class="btn btn-primary">Edit<i class="fas fa-user-edit ml-2"></i></a></td>
                                        <td><a th:href="@{/delete/{id}(id=${bill.id})}" class="btn btn-primary">Delete<i class="fas fa-user-times ml-2"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
