<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="css/styles.css" th:href= "@{css/styles.css}">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <ul>
    <li><a href="/index" >Home</a></li>
    <li><a href="/addbill">Add Bill</a></li>
    <li><a href="/listofbills">My Bills</a></li>
  </ul>


    <div>
        <h3 class="header"> UPDATE BILL</h3>
        <div >
            <div >
                <div>
                    <form action="#" th:action="@{/bills/update/{id}(id=${bill.id})}" th:object="${bill}" method="post">
                        <p class="form">Company Name: <input type="text" name="creditorName"></p>
<p class="form">Amount: $ <input type="text" name="billAmount"></p>
<p class="form">Due Date: <input type="date" name="billDueDate"></p>
<p class="form">Company Phone: <input type="text" name="creditorPhoneNumber"></p>
<p class= "form">Billing Cycle Start Date: <input type="date" name="billingCycleStartDate"></p>
<p class="form">Billing Cycle End Date: <input type="date" name="billingCycleEndDate"></p>
<div class="centerbuttons">
                                <input class="button1" type="submit" value="Submit">
                              </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
